<div class="container mt-4">
<%= simple_form_for @list do |f| %>
  <%= f.input :name, label: "Nom de la liste", input_html: { class: 'form-control form-control-sm w-50' }%>
  <%= f.submit "Créer la liste", class:"btn-submit" %>
<% end %>
</div>
