// Specific CSS for your home-page
body {
  background: linear-gradient(135deg, #181818 0%, #232526 100%);
  color:antiquewhite
}
h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  color:antiquewhite;
}
