.movie_card {
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  overflow: hidden;
  color:antiquewhite;
  background: linear-gradient(to top,rgba(20, 20, 20, 0.85) 65%, rgba(20, 20, 20, 0.3) 100%);
  .card-img-top {
    height: 450px;
  }
  a {
    text-decoration: none;
  }
}
